h1 {
    /* text-align: center; */
}

.layout {
    display: flex;
}

.instructions {
    width: 395px;
    height: 487 px;
    margin-left: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(5, 75px);
    grid-gap: 5px;
    margin-right: 20px;
    margin-top: 16px
}

.caveat {
    font-style: italic
}

.box {
    border: 1px solid black; 
    height: 75px;
    font-size: 40px;
    text-align: center;
    /* Another trick to vertically center text is to set line-height property with a value that is equal to the height property: */
    line-height: 75px;
}

.right-guess{
    background-color: green;
    color: white;
}

.wrong-guess {
    background-color: gray;
    color: white;
}

.right-letter-wrong-place {
    background-color: rgb(197, 197, 83);
    color: white
}
